.analytics-container {
  background: #e9f3fd;
  min-height: 100vh;
}

.kpi-card {
  border-radius: 16px;
  transition: 0.3s ease;
  background: #cfe7ff;
}

.kpi-card:hover {
  transform: translateY(-5px);
}

.icon-box {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.bg-success-soft { background: #d1fae5; }
.bg-primary-soft { background: #dbeafe; }
.bg-info-soft { background: #e0f2fe; }
.bg-danger-soft { background: #fee2e2; }

.chart-card {
  border-radius: 20px;
  background-color: #cfe7ff;
}

.critical-section {
  background: #fff5f5;
  border-left: 6px solid #ef4444;
}
.trend-badge {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 0;          /* remove default bootstrap padding */
  border-radius: 50%;  /* makes it perfect circle */
}